@using Data_Annotation.Models;
@model StateModel


<div class="row">
	<div class="col-md-12">
		<h3>@TempData["StateInsertMsg"]</h3>
		<form method="post" asp-controller="Loc_State" asp-action="Save">
			@Html.HiddenFor(x=>x.StateID)
			<div class="form-group">
				<label>Country Name</label>
				<select class="form-control" asp-for="CountryId" asp-items="@(new SelectList(ViewBag.CountryList,"CountryId","CountryName"))">
				<option value="">Select Country</option>
				</select>
			</div>
			<div class="form-group">
				<label>State Name</label>
				<input type="text" asp-for="StateName" placeholder="Enter State Name" />
			</div>
			<div class="form-group">
				<label>State Code</label>
				<input type="text" asp-for="StateCode" placeholder="Enter State Code" />
			</div>
			<hr />
			<input type="submit" />
			<div class="my-3">
				<a asp-controller="Loc_State" asp-action="Loc_State" class="btn btn-primary" style="background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;">Back</a>
			</div>
		</form>
	</div>
</div>